{% extends 'layout/primaryLayout.html' %}

{% block title %}

List Page GrosrX

{% endblock  %}

{% block main %}
<div class="container" style="margin-top: 50px;padding-top: 3rem;">
    <h1 class="title" style="text-align: center;">Categories</h1>
    <div style="display: flex;flex-flow: wrap;">
        
            <p>
                
                {% for i in product %}
                      
                     {{i.name}}

                {% endfor %}
                
            </p>
        
    </div>


</div>

{% endblock %}
